<div id="judge_update_modal" class="modal">
  <%= simple_form_for judge, remote: true do |f| %>
    <div class="modal-content">
      <%= render "evaluate_judge_fields", judge: judge, f: f %>
    </div>

    <div class="modal-footer">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
