<h1>Listing judges</h1>

<%= link_to 'New Judge', new_event_judge_path(@event) %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
  </tr>
  <% @judges.each do |judge| %>
  <tr>
    <td><%= link_to judge.person.full_name, [@event, judge] %></td>
    <td><%= mail_to judge.person.email %></td>
    <td><%= judge.status %></td>
  </tr>
  <% end %>
</table>
