<h1>Listing judges</h1>

<h3>Invited</h3>
<ul>
  <% @judges.where({status: :invited}).each do |judge| %>
  <li><%= judge.person.full_name %></li>
  <% end %>
</ul>

<h3>Confirmed</h3>
<ol>
  <% @judges.where({status: :confirmed}).each do |judge| %>
  <li><%= judge.person.full_name %></li>
  <% end %>
</ol>

<h3>Declined</h3>
<ul>
  <% @judges.where({status: :declined}).each do |judge| %>
  <li><%= judge.person.full_name %></li>
  <% end %>
</ul>

<%= link_to 'New Judge', new_judge_path %>
