<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-notices" href="#missing-bio">
      <%= title -%>
    </a>
  </div>
  <div id="missing-bio" class="accordion-body collapse">
    <div class="accordion-inner">
      <ul class="unstyled">
        <% @judges.each do |judge| %>
          <% show_judge = yield(judge).to_s.strip == "true" %>
          <% if show_judge %>
            <li>
              <%= link_to judge.full_name, judge %>
              <% mail_content = capture do %>
                <i class="icon-envelope"></i>
              <% end %>
              <%= mail_to judge.email, mail_content, subject: "[#{@event.game.season} #{@event.game.program.abbr} #{@event.state}] Judge Biography" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
