<h1>Current events</h1>

<table class="table table-striped">
  <tr>
    <th>Season</th>
    <th>Name</th>
    <th>Venue</th>
    <th>Location</th>
    <th>Occurs</th>
    <th></th>
  </tr>
	<%= render @events.active %>
</table>

<h2>Past Events</h2>

<table class="table table-striped">
  <tr>
    <th>Season</th>
    <th>Name</th>
    <th>Venue</th>
    <th>Location</th>
    <th>Occurs</th>
		<th></th>
  </tr>
	
	<%= render @events.inactive %>
</table>