<div class="row">
  <div class="offset1 span3">

    <h3>Confirmed</h3>
    <ol>
      <% @judges.where({status: :confirmed}).each do |judge| %>
      <li>
        <%= link_to judge.person.full_name, [@event, judge] %>
        <% if judge.received_event_info? %>
          <i class="icon-envelope"></i>
        <% end %>
      </li>
      <% end %>
    </ol>
  </div>

  <div class="span3">
    <h3>Invited</h3>
    <ul>
      <% @judges.where({status: :invited}).each do |judge| %>
      <li><%= link_to judge.person.full_name, [@event, judge] %></li>
      <% end %>
    </ul>
  </div>

  <div class="span3">
    <h3>Declined</h3>
    <ul>
      <% @judges.where({status: :declined}).each do |judge| %>
      <li><%= link_to judge.person.full_name, [@event, judge] %></li>
      <% end %>
    </ul>

    <h3>Withdrew</h3>
    <ul>
      <% @judges.where({status: :withdrew}).each do |judge| %>
      <li><%= link_to judge.person.full_name, [@event, judge] %></li>
      <% end %>
  </div>
</div>
