<% content_for :base do %>
  <section id="content">
    <div class="container">
      <div class="section">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </div>
  </section>
<% end %>

<%= render template: "layouts/application" %>
